<!DOCTYPE html>

<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Raleway' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Important Owl stylesheet -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Assets/slick/slick.css">
    <link rel="stylesheet" href="~/Assets/slick/slick-theme.css">    
    <!-- Default Theme -->
 
    <style>
        footer {
            background-color : rgb(100,100,100);
            height: 300px;
            border-top:thin solid black;
        }
        .container {max-width:90VW}        
        #navArea {background-color : rgb(64, 64, 64);
                  height:100px;
        }
        body {
            background-image : url(/Assets/textures/back_pattern2X.png);
            background-repeat : repeat;
        }

        #mainContainer {
            background-color : rgba(100,100,100,.5);
            padding : 40px;
            border-radius: 10px;
            border:thin solid black;
        }

        label { font-family : 'Montserrat', sans-serif;}
        h2 { font-family : 'Montserrat', sans-serif;}

        .navbar {height: 100px; background-color : rgb(100,100,100); border-bottom:thin solid black;}
        .navbar-brand { color : white;}
        .navbar-brand :hover { color : wheat;}
        .navbar-brand :active { color : white;}
    </style>    
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='@Url.Action("MainPage","Main")'>Apartment Finder</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href='@Url.Action("SignIn","SignIn")'>Sign In</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <br />
    <div id="mainContainer" class="container">
            @RenderBody()
    </div>
 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer>

    </footer>
</body>

</html>
