@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-lg-6">
        Photo Carousal
    </div>
    <div class="col-md-6 col-lg-6">
        Map
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="row">    
    <div class="col-md-4 col-lg-4">
        @ViewBag.thisLocation[0].Name
    </div>
    <div class="col-md-4 col-lg-4">
        @ViewBag.thisLocation[0].
    </div>
    <div class="col-md-4 col-lg-4">
        @ViewBag.thisLocation[0].Name
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-lg-8">
        <div class="row">
            
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        Rounded Edge div with Contact Landlord Form
    </div>
    <br />
    <br />
    <br />
</div>
<div class="row">
    <h3>About this location:</h3>
    Location info
    <br />
    <br />
    <br />
</div>